<%- include("partials/header") %>
<h1>Compose</h1>
<form class="" action="" method="post">
  <label>Title</label>
  <br>
  <input type="text" name="postTitle" value="" autocomplete="off">
  <br><br>
  <label>Post</label>
  <br>
<textarea rows="3" cols="60" placeholder="Enter Text Here" name="postBody"> </textarea>
      <br><br>
  <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>
